.Useprofileedit{
    width: 35%;
    margin: 10px;
}
.Useprofileedit_colm{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.Useprofileedit_colm_raw1{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5px;
}
.Useprofileedit_colm_raw1_input{
    width: 45%;
}
.Useprofileedit_colm_raw1_input input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.Useprofileedit_colm_raw1_label{
    width: 45%;
    display: flex;
    align-items: center;
}
/* .Useprofileedit_colm_raw1_icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.Useprofileedit_colm_raw2{
    margin-top: 25px;
}
.Useprofileedit_colm_raw2 button{
    background-color:  rgba(3, 99, 3, 0.647);
    color: #fff;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
}